<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pitchforked Repo</title>
    <script src="musicapp.js" charset="utf-8"></script>
  </head>
  <body>
        <nav>
          <%- include ('nav') %>
        </nav>
    <h1>Music Reviews</h1>
    <ul class="flexing">
        <% for(let i = 0; i < reviews.length; i++) { %>
            <li class="music">
              <%=reviews[i].album; %> <br>
              <a href="/reviews/<%=reviews[i].id;%>">
                  <img src="<%=reviews[i].art;%>">
              </a> <br>
              <a href="/reviews/<%=reviews[i].id;%>/edit">update</a>
              <form action="/reviews/<%=reviews[i].id;%>?_method=DELETE" method="POST">
                <input type="submit" value="remove"/>
              </form>
            </li>
          <% } %>
      </ul>
      <nav>
        <a href="/reviews/new">New Entry</a>
      </nav>
   </body>
</html>
<script>
<%- include ('musicapp') %>
</script>
<style>
body {
  background-color: teal;
}

h1 {
  position: relative;
  text-align: center;
}
.flexing {
  display: flex;
  align-content: flex-start;

}
.music {
  border: solid white 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  font-style: oblique;
  list-style: none;
}

img {
  height: 120px;
  width: 120px;
}

@media (max-width: 700px) {
  .flexing {
    display: inline-block;
  }
  img {
    height: 180px;
    width: 180px
  }


}
