<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=reviews.album; %></h1>
    <h2><%=reviews.score;%></h2>
      <div> <img src="<%=reviews.art; %>"></div>
      <div> <%=reviews.artist; %></div> <br>
      <div> <%=reviews.writeup; %></div>
    <nav>
      <a href="/reviews">back</a>
    </nav>
  </body>
</html>

<style>
  h1 {
    display: inline-block;
  }
  h2 {
    border: solid turquoise 6px;
    padding: 10px;
    margin-left: 39px;
    display: inline-block;
    border-radius: 10px;
  }
body {
  text-align: center;
  background-color: azure;
}
 </style>
